<div> <%= alert %> </div>

<h1>Sign Up</h1>>

<form action="/insert_user_record">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">

  <label for="browser_pw">Password</label>
  <input id="browser_pw" type="password" name="input_pw" placeholder="Enter a password...">

   <label for="browser_pw_conf">Password</label>
  <input id="browser_pw_conf" type="password" name="input_pw_conf" placeholder="Confirm password...">

  <button>Sign up!</button>
</form>
